<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Species Prdiction</title>
    <style>
        input {
            margin: .5rem;
        }

        body {
            text-align: center;
        }

        h2 {
            margin-top: .75rem;
        }
    </style>
</head>
<body>
    <h1>Flower Species Prediction</h1>
    <form action="" method="post">
        <input type="number" name="s_len" id="" placeholder="SepalLength(in Cm)" required> <br>
        <input type="number" name="s_width" id="" placeholder="SepalWidth( in Cm)" >  <br>
        <input type="number" name="p_len" id="" placeholder="PetalLength(in Cm)"> <br>
        <input type="number" name="p_width" id="" placeholder="PetalWidth(in Cm)"> <br>

        <button type="submit">Predict</button>
    </form>

    {% if res %}
        <h2>{{ res }}</h2>
    {% endif %}
    
</body>
</html>